/* Dropdown.css */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: linear-gradient(45deg, black, grey); /* Green color */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: grey;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-top: 20px; /* Adjust as needed */
    z-index: -1;
  }
  
  .dropdown-toggle .arrow {
    margin-left: 10px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    list-style: none;
  }
  
  .dropdown-menu li {
    padding: 10px 20px;
    cursor: pointer;
    color: #333;
  }
  
  .dropdown-menu li:hover {
    background-color: #f1f1f1;
  }
  